* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgb(206, 205, 205);
    position: sticky;
    top: 0;
    z-index: 100;
}

.lol {
    display: flex;
    align-items: center;
}

header > .lol > img {
    margin-right: 10px;
    cursor: grab;
    
}

nav a img {
    border-radius: 50%;
    cursor: pointer;
}

main {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    flex: 1;
    /* border: 1px solid black; */
}

.box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.1);
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #f9f9f9;
}

textarea {
    resize: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    /* border-top: 1px solid #ccc; */
    font-size: 14px;
}

a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    border: 0px solid black;
    border-radius: 15px;
}

a:hover {
    background-color: #dad9d9;
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }

    header {
        align-items: flex-start;
    }


}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* top: 50px; */
    /* right: 10px; */
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(44, 44, 44, 0.1);
    margin: 15px;
}

.nav-links a {
    padding: 5px;
    color: #333;
    text-decoration: none;
}
